
h1 {
color: red

}
em{

color: blue		
}
h2 {
color: green


}
body {
background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616988808_33-p-fon-dlya-prilozheniya-34.jpg);	
}